:root {
/* Colors: */
--grey-ececec: #ECECEC;
--grey-text-d4d4d4: #d4d4d4;
--lightblue-f5fbff: #F5FBFF;
--yellow-ffd507: #FFD507;
--yellow-hover-ffe250:#ffe250;
--mainblue-184565: #184565;
--hoverblue--0461ab: #0461ab;
--whaite-ffffff: #FFFFFF;
--darkest-3a3a3a: #3A3A3A;
--red-E40000: #E40000
}