:root {
/* Colors: */
--grey: #ECECEC;
--lightgray: #ddd;
--grey-dark: #e6e6e6;
--grey-text: #b1b1b1;
--lightblue: #F5FBFF;
--lightorange: #ffddd0;
--lightgreen: #e2ffca;
--yellow: #FFD507;
--yellow-hover:#ffe250;
--mainblue: #184565;
--hoverblue: #0461ab;
--white: #FFFFFF;
--darkest: #3A3A3A;
--red-E40000: #E40000
}